<div id="<%= dom_id home_address %>">
  <p>
    <strong>Street name:</strong>
    <%= home_address.street_name %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= home_address.street_number %>
  </p>

  <p>
    <strong>School division ward:</strong>
    <%= home_address.school_division_ward_id %>
  </p>

</div>
