<div id="<%= dom_id ward %>">
  <p class="title">
    <strong>Name:</strong>
    <%= ward.name %>
  </p>

  <div class="block m-4">
    <p>
      <strong>School Division Wards:</strong>
    </p>
    <ol class="ml-6">
      <% school_division_wards.each do |sdw| %>
        <li>
          <%= link_to "#{sdw.name}", sdw %>
        </li>
      <% end %>
    </ol>
  </div>

</div>
