<div id="<%= dom_id school_division_ward %>">
  <p>
    <strong>Name:</strong>
    <%= school_division_ward.name %>
  </p>

  <p>
    <strong>School division:</strong>
    <%= school_division_ward.school_division_id %>
  </p>

  <p>
    <strong>Ward:</strong>
    <%= school_division_ward.ward_id %>
  </p>

</div>
