<h1>Editing school division ward</h1>

<%= render "form", school_division_ward: @school_division_ward %>

<br>

<div>
  <%= link_to "Show this school division ward", @school_division_ward %> |
  <%= link_to "Back to school division wards", school_division_wards_path %>
</div>
