<h1>Editing school division</h1>

<%= render "form", school_division: @school_division %>

<br>

<div>
  <%= link_to "Show this school division", @school_division %> |
  <%= link_to "Back to school divisions", school_divisions_path %>
</div>
